{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}A game of preference{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3">
  {% for vote in votes %}
  <div class="col-4 mb-4">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title mb-0">{{ vote.title }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ vote.issue_r }} vs {{ vote.issue_b }}</p>
        <a href="{% url 'votes:detail' vote.pk %}" class="btn btn-primary btn-sm">투표하기</a>
      </div>
    </div>
  </div>
  {% empty %}
    <h3>등록된 투표가 없습니다.</h3>
    <h4>첫 번째로 투표를 등록해보세요 !</h4>
  {% endfor %}
</div>
{% endblock %}