.banner-wrapper {
    width: 100%
    min-width: 960px;
    background: #222222;
}

.banner {
    position: relative;
    margin: 0px auto;
    width:80%;
}

.logo {
    display: block;
    height: 3rem;
    width: 3rem;
}

form#nav-search input.search {
    color: #ccc;
    padding: 5px 10px 5px 25px;
    background: #1f1f1f url(https://static.either.io/v2/img/icon-search.png) no-repeat 5px center;
    border-radius: 15px;
    border: 1px solid #444;
    border-top: 1px solid #393939;
}

.signup {
    color: #f5f5f5
}

.op-blue {
    height: 10rem;
    background: #94b1e6;
    color: white;
}

.op-blue:hover {
    background: black;
    opacity: .5;
    cursor: pointer;
}

.op-red {
    height: 10rem;
    background: #d44747;
    color: white;
}

.op-red:hover {
    background: black;
    opacity: .5;
    cursor: pointer;
}

.option {
    z-index: 5;
}

.option h1 {
    font-weight: 800;
}

#resultRate {
    display: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}