<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" href="#">Either</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <form class="my-2 my-lg-0" id="nav-search">
      <input class="search" type="search" placeholder="Search" aria-label="Search">
      <button class="d-none" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><h4>Home</h4></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><h4>Link</h4></a>
      </li>
    </ul>
  </div>
</nav>